#services {
   
    flex-direction: column;
}
#navbar{
    flex-direction: column;
}
#navbar ul li a{
font-size: 1rem;
padding: 4px 23px;
padding-bottom: 8px;
}
#home{
    height: 280px;
    padding: 103px 57px;
    
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 13px;
}
.h-primary{
    font-size: 26px;
    padding-top: 100px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 66px;
    padding: 6px;;
}